body {
    font-family: "Roboto", sans-serif;
    color: #2E2F42;
}
header{
    background-color: white;

}
ul{
    list-style-type: none;
}
.logo{
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        text-decoration: none;
        font-style:bold;
}
.logo .web{
color:#4D5AE5;
}
.logo .studio{
color:#2E2F42;
}
.nav{
    text-align: center;
    font-family: "Roboto", sans-serif;
}
.nav a {
    text-decoration: none;
    text-align:center;
    color:#2E2F42;
    font-weight:500;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 1.5;
}
.nav a:hover{
   color: #404BBF;
}
.nav a:active{
   color: #404BBF;
}

.contacts{
    text-align:right;
}
.contacts a {
    text-decoration: none;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 2%;
    color:#434455;
}
.contacts a:hover{
    color: #404BBF;
}
.container{
    width: 1440px;
}
.main-page{
    background-color: #2E2F42;
    height:600px;
}
.page-title{
    color:white;
    font-weight:700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    width: 496px;
    height: 120px;
}
.btn{
    background-color: #4D5AE5;
    width: 169px; 
    height: 56px;
    cursor: pointer;
}
.btn:hover{
    background-color:#404BBF;
}
.btn-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    font-weight: 500;
    color: white;
    }
.values-list > li > h3{
    color:#2E2F42;
    font-weight: 500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}
.our-team {
    background-color:#F4F4FD ;
}
.our-team h2,
.our-portfolio h2{
    color:#2E2F42;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing:0.02em;
}
.team >li > h3,
.portfolio-list > li > h3{
    color:#2E2F42;
    font-weight:500;
    font-size:20px;
    line-height: 1.2;
    letter-spacing:0.02em;
}
.team > li > p,
.portfolio-list > li > p{
    color: #434455;
    font-size: 16px;
    font-style:regular;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
.finish{
    background-color: #2E2F42;
    height: 312px;

}
.finish > .logo{
            font-family: "Raleway", sans-serif;
            font-size: 18px;
            font-weight: 700;
            line-height: 1.17;
            letter-spacing: 0.03em;
            text-transform: uppercase;
            text-decoration: none;
            font-style: bold;
        }
    
        .logo .web {
            color: #4D5AE5;
        }
    
        .logo .second {
            color: white;
}
.finish p {
    color:#F4F4FD;
    font-size: 16px;
    line-height:1.5;
    letter-spacing:0.02em;
}